#header-view{
  position:relative;
  height:50px;
  width:100%;
  color:#fff;
  background: $slate;


  .header-content {
    position:relative;
    display:flex;
    background: $slate;
    justify-content: space-between;
    margin: 0 20px;
    height: 100%;
    align-items: center;;
    color:$warmRed;

    a {
      color: antiquewhite;
      font-size:.9rem;
      text-decoration: none;
    }


  }

}