.profiles-page {

  .profile-item {
    position:relative;

    opacity:0;
   // transition-delay:1s;

   // transition-property: opacity;
   // transition-duration: 1s;
   // transition-delay: 1s;
    transition: opacity .5s ease .25s;

    &.reveal{
      opacity:1;
    }



    div.images {
      position: relative;
      display: flex;
      flex-direction: column;;
      align-items: center;
      width: 250px;
      margin-left: 1rem;


      div.avatar {
        position: relative;
        width: 10rem;
        height: 10rem;
        border-radius: 50%;
        border: 2px solid #ddd;
        padding: 4px;

        &#small-img.small {
          position: absolute;
          bottom: 0;
          right: 0;
          width: 5rem;
          height: 5rem;
          align-self: flex-end;
          background: $beigeMed;
        }

        div.img-container {
          position: relative;
          width: 100%;
          height: 100%;

          borde div.images {
            img.avatar {
              width: 200px;
            }

          }

          r-radius: 50%;

          overflow: hidden;;

          display: flex;
          justify-content: center;
          align-items: center;
          flex-direction: column;


          img {
            position: relative;
            min-width: 130%;

            //position:absolute;

          }

        }

      }
    }

  }



}